packaging
tokenizers>=0.19.1
transformers>=4.41.0
accelerate
huggingface-hub<1.0.0,>=0.33.4
langchain-core>=1.2.5
langchain-huggingface>=0.1.0
python-dotenv
qdrant-client
langchain-qdrant
langchain-community
langchain-text-splitters
torch
pypdf
sentence-transformers
